<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}" dir="{{ settings.text_direction }}">
  <head>
    {%- assign isense_consentbar_text = shop.metafields.consentbar_text -%}
    {%- assign isense_preferences_text = shop.metafields.preferences_text -%}
    {%- assign isense_cookie_titles = shop.metafields.cookie_titles -%}
    {%- assign isense_cookie_description = shop.metafields.cookie_description -%}
    {%- assign isense_cookie_duration = shop.metafields.cookie_duration -%}
    {%- assign isense_cookie_provider = shop.metafields.cookie_provider -%}

    {%- assign privacy_policy_text = isense_consentbar_text.privacy_policy_text -%}
    {%- assign accept_button_text = isense_consentbar_text.accept_button_text -%}
    {%- assign close_button_text = isense_consentbar_text.close_button_text -%}
    {%- assign reject_button_text = isense_consentbar_text.reject_button_text -%}
    {%- assign change_cookies_text = isense_consentbar_text.change_cookies_text -%}
    {%- assign widget_content = isense_consentbar_text.widget_content -%}
    {%- assign text = isense_consentbar_text.text -%}

    {%- assign strict_cookies_checkbox = isense_preferences_text.strict_cookies_checkbox -%}
    {%- assign strict_cookies_text = isense_preferences_text.strict_cookies_text -%}

    {%- assign analytics_cookies_checkbox = isense_preferences_text.analytics_cookies_checkbox -%}
    {%- assign analytics_cookies_text = isense_preferences_text.analytics_cookies_text -%}

    {%- assign marketing_cookies_checkbox = isense_preferences_text.marketing_cookies_checkbox -%}
    {%- assign marketing_cookies_text = isense_preferences_text.marketing_cookies_text -%}

    {%- assign functionality_cookies_checkbox = isense_preferences_text.functionality_cookies_checkbox -%}
    {%- assign functionality_cookies_text = isense_preferences_text.functionality_cookies_text -%}

    {%- assign popup_header = isense_preferences_text.popup_header -%}
    {%- assign popup_description = isense_preferences_text.popup_description
      | newline_to_br
      | replace: '"', '\"'
      | strip_newlines
    -%}
    {%- assign dismiss_button_text = isense_preferences_text.dismiss_button_text -%}

    {%- assign accept_selected_button_text = isense_preferences_text.accept_selected_button_text -%}
    {%- assign accept_all_button_text = isense_preferences_text.accept_all_button_text -%}
    {%- assign reject_all_button_text = isense_preferences_text.reject_all_button_text -%}

    {%- assign data_collection_text = isense_preferences_text.data_collection_text -%}
    {%- assign data_collection_text_cpra = isense_preferences_text.data_collection_text_cpra -%}
    {%- assign data_collection_text_vcdpa = isense_preferences_text.data_collection_text_vcdpa -%}
    {%- assign data_collection_text_us = isense_preferences_text.data_collection_text_us -%}
    {%- assign data_collection_text_appi = isense_preferences_text.data_collection_text_appi -%}
    {%- assign data_collection_text_pipeda = isense_preferences_text.data_collection_text_pipeda -%}

    {%- assign cookie_titles_cookie = isense_cookie_titles.Cookie -%}
    {%- assign cookie_titles_duration = isense_cookie_titles.Duration -%}
    {%- assign cookie_titles_description = isense_cookie_titles.Description -%}
    {%- assign cookie_titles_provider = isense_cookie_titles.Provider -%}

    {%- assign cookie__ab = isense_cookie_description._ab -%}
    {%- assign cookie__orig_referrer = isense_cookie_description._orig_referrer -%}

    {%- assign cookie_identity_state = isense_cookie_description.identity_state -%}
    {%- assign cookie_identity_customer_account_number = isense_cookie_description.identity_customer_account_number -%}
    {%- assign cookie__landing_page = isense_cookie_description._landing_page -%}
    {%- assign cookie__secure_session_id = isense_cookie_description._secure_session_id -%}
    {%- assign cookie_cart = isense_cookie_description.cart -%}
    {%- assign cookie_cart_sig = isense_cookie_description.cart_sig -%}
    {%- assign cookie_cart_ts = isense_cookie_description.cart_ts -%}
    {%- assign cookie_cart_ver = isense_cookie_description.cart_ver -%}
    {%- assign cookie_cart_currency = isense_cookie_description.cart_currency -%}
    {%- assign cookie_tracked_start_checkout = isense_cookie_description.tracked_start_checkout -%}
    {%- assign cookie_storefront_digest = isense_cookie_description.storefront_digest -%}
    {%- assign cookie_checkout_token = isense_cookie_description.checkout_token -%}
    {%- assign cookie__shopify_m = isense_cookie_description._shopify_m -%}
    {%- assign cookie__shopify_tm = isense_cookie_description._shopify_tm -%}
    {%- assign cookie__shopify_tw = isense_cookie_description._shopify_tw -%}
    {%- assign cookie__tracking_consent = isense_cookie_description._tracking_consent -%}
    {%- assign cookie_secure_customer_sig = isense_cookie_description.secure_customer_sig -%}
    {%- assign cookie__shopify_y = isense_cookie_description._shopify_y -%}
    {%- assign cookie_customer_auth_provider = isense_cookie_description.customer_auth_provider -%}
    {%- assign cookie_customer_auth_session_created_at = isense_cookie_description.customer_auth_session_created_at -%}
    {%- assign cookie__y = isense_cookie_description.__y -%}
    {%- assign cookie__shopify_s = isense_cookie_description._shopify_s -%}
    {%- assign cookie__shopify_fs = isense_cookie_description._shopify_fs -%}
    {%- assign cookie__ga = isense_cookie_description._ga -%}
    {%- assign cookie__gid = isense_cookie_description._gid -%}
    {%- assign cookie__gat = isense_cookie_description._gat -%}
    {%- assign cookie__shopify_sa_t = isense_cookie_description._shopify_sa_t -%}
    {%- assign cookie__shopify_sa_p = isense_cookie_description._shopify_sa_p -%}
    {%- assign cookie_IDE = isense_cookie_description.IDE -%}
    {%- assign cookie__s = isense_cookie_description.__s -%}
    {%- assign cookie_GPS = isense_cookie_description.GPS -%}
    {%- assign cookie_PREF = isense_cookie_description.PREF -%}
    {%- assign cookie_BizoID = isense_cookie_description.BizoID -%}
    {%- assign cookie__fbp = isense_cookie_description._fbp -%}
    {%- assign cookie___adroll = isense_cookie_description.__adroll -%}
    {%- assign cookie___adroll_v4 = isense_cookie_description.__adroll_v4 -%}
    {%- assign cookie___adroll_fpc = isense_cookie_description.__adroll_fpc -%}
    {%- assign cookie___ar_v4 = isense_cookie_description.__ar_v4 -%}
    {%- assign cookie_cookieconsent_preferences_disabled = isense_cookie_description.cookieconsent_preferences_disabled -%}
    {%- assign cookie_cookieconsent_status = isense_cookie_description.cookieconsent_status -%}
    {%- assign cookie_no_info = isense_cookie_description.no_info -%}
    {%- assign cookie__customer_account_shop_sessions = isense_cookie_description._customer_account_shop_sessions -%}
    {%- assign cookie__secure_account_session_id = isense_cookie_description._secure_account_session_id -%}
    {%- assign cookie__shopify_country = isense_cookie_description._shopify_country -%}
    {%- assign cookie__storefront_u = isense_cookie_description._storefront_u -%}
    {%- assign cookie__cmp_a = isense_cookie_description._cmp_a -%}
    {%- assign cookie_checkout = isense_cookie_description.checkout -%}
    {%- assign cookie_customer_account_locale = isense_cookie_description.customer_account_locale -%}
    {%- assign cookie_dynamic_checkout_shown_on_cart = isense_cookie_description.dynamic_checkout_shown_on_cart -%}
    {%- assign cookie_hide_shopify_pay_for_checkout = isense_cookie_description.hide_shopify_pay_for_checkout -%}
    {%- assign cookie_shopify_pay = isense_cookie_description.shopify_pay -%}
    {%- assign cookie_shopify_pay_redirect = isense_cookie_description.shopify_pay_redirect -%}
    {%- assign cookie_shop_pay_accelerated = isense_cookie_description.shop_pay_accelerated -%}
    {%- assign cookie_keep_alive = isense_cookie_description.keep_alive -%}
    {%- assign cookie_source_name = isense_cookie_description.source_name -%}
    {%- assign cookie_master_device_id = isense_cookie_description.master_device_id -%}
    {%- assign cookie_previous_step = isense_cookie_description.previous_step -%}
    {%- assign cookie_discount_code = isense_cookie_description.discount_code -%}
    {%- assign cookie_remember_me = isense_cookie_description.remember_me -%}
    {%- assign cookie_checkout_session_lookup = isense_cookie_description.checkout_session_lookup -%}
    {%- assign cookie_checkout_prefill = isense_cookie_description.checkout_prefill -%}
    {%- assign cookie_checkout_queue_token = isense_cookie_description.checkout_queue_token -%}
    {%- assign cookie_checkout_queue_checkout_token = isense_cookie_description.checkout_queue_checkout_token -%}
    {%- assign cookie_checkout_worker_session = isense_cookie_description.checkout_worker_session -%}
    {%- assign cookie_checkout_session_token = isense_cookie_description.checkout_session_token -%}
    {%- assign cookie_cookietest = isense_cookie_description.cookietest -%}
    {%- assign cookie_order = isense_cookie_description.order -%}
    {%- assign cookie_identity-state = isense_cookie_description['identity-state'] -%}
    {%- assign cookie_card_update_verification_id = isense_cookie_description.card_update_verification_id -%}
    {%- assign cookie_customer_account_new_login = isense_cookie_description.customer_account_new_login -%}
    {%- assign cookie_customer_account_preview = isense_cookie_description.customer_account_preview -%}
    {%- assign cookie_customer_payment_method = isense_cookie_description.customer_payment_method -%}
    {%- assign cookie_customer_shop_pay_agreement = isense_cookie_description.customer_shop_pay_agreement -%}
    {%- assign cookie_pay_update_intent_id = isense_cookie_description.pay_update_intent_id -%}
    {%- assign cookie_localization = isense_cookie_description.localization -%}
    {%- assign cookie_profile_preview_token = isense_cookie_description.profile_preview_token -%}
    {%- assign cookie_login_with_shop_finalize = isense_cookie_description.login_with_shop_finalize -%}
    {%- assign cookie_preview_theme = isense_cookie_description.preview_theme -%}
    {%- assign cookie_shopify-editor-unconfirmed-settings = isense_cookie_description['shopify-editor-unconfirmed-settings'] -%}
    {%- assign cookie_wpm-test-cookie = isense_cookie_description['wpm-test-cookie'] -%}

    {%- assign cookie__ab_duration = isense_cookie_duration._ab -%}
    {%- assign cookie__orig_referrer_duration = isense_cookie_duration._orig_referrer -%}
    {%- assign cookie_identity_state_duration = isense_cookie_duration.identity_state -%}
    {%- assign cookie_identity_customer_account_number_duration = isense_cookie_duration.identity_customer_account_number -%}
    {%- assign cookie__landing_page_duration = isense_cookie_duration._landing_page -%}
    {%- assign cookie__secure_session_id_duration = isense_cookie_duration._secure_session_id -%}
    {%- assign cookie_cart_duration = isense_cookie_duration.cart -%}
    {%- assign cookie_cart_sig_duration = isense_cookie_duration.cart_sig -%}
    {%- assign cookie_cart_ts_duration = isense_cookie_duration.cart_ts -%}
    {%- assign cookie_cart_ver_duration = isense_cookie_duration.cart_ver -%}
    {%- assign cookie_cart_currency_duration = isense_cookie_duration.cart_currency -%}
    {%- assign cookie_tracked_start_checkout_duration = isense_cookie_duration.tracked_start_checkout -%}
    {%- assign cookie_storefront_digest_duration = isense_cookie_duration.storefront_digest -%}
    {%- assign cookie_checkout_token_duration = isense_cookie_duration.checkout_token -%}
    {%- assign cookie__shopify_m_duration = isense_cookie_duration._shopify_m -%}
    {%- assign cookie__shopify_tm_duration = isense_cookie_duration._shopify_tm -%}
    {%- assign cookie__shopify_tw_duration = isense_cookie_duration._shopify_tw -%}
    {%- assign cookie__tracking_consent_duration = isense_cookie_duration._tracking_consent -%}
    {%- assign cookie_secure_customer_sig_duration = isense_cookie_duration.secure_customer_sig -%}
    {%- assign cookie__shopify_y_duration = isense_cookie_duration._shopify_y -%}
    {%- assign cookie_customer_auth_provider_duration = isense_cookie_duration.customer_auth_provider -%}
    {%- assign cookie_customer_auth_session_created_at_duration = isense_cookie_duration.customer_auth_session_created_at -%}
    {%- assign cookie__y_duration = isense_cookie_duration.__y -%}
    {%- assign cookie__shopify_s_duration = isense_cookie_duration._shopify_s -%}
    {%- assign cookie__shopify_fs_duration = isense_cookie_duration._shopify_fs -%}
    {%- assign cookie__ga_duration = isense_cookie_duration._ga -%}
    {%- assign cookie__gid_duration = isense_cookie_duration._gid -%}
    {%- assign cookie__gat_duration = isense_cookie_duration._gat -%}
    {%- assign cookie__shopify_sa_t_duration = isense_cookie_duration._shopify_sa_t -%}
    {%- assign cookie__shopify_sa_p_duration = isense_cookie_duration._shopify_sa_p -%}
    {%- assign cookie_IDE_duration = isense_cookie_duration.IDE -%}
    {%- assign cookie__s_duration = isense_cookie_duration.__s -%}
    {%- assign cookie_GPS_duration = isense_cookie_duration.GPS -%}
    {%- assign cookie_PREF_duration = isense_cookie_duration.PREF -%}
    {%- assign cookie_BizoID_duration = isense_cookie_duration.BizoID -%}
    {%- assign cookie__fbp_duration = isense_cookie_duration._fbp -%}
    {%- assign cookie___adroll_duration = isense_cookie_duration.__adroll -%}
    {%- assign cookie___adroll_v4_duration = isense_cookie_duration.__adroll_v4 -%}
    {%- assign cookie___adroll_fpc_duration = isense_cookie_duration.__adroll_fpc -%}
    {%- assign cookie___ar_v4_duration = isense_cookie_duration.__ar_v4 -%}
    {%- assign cookie_cookieconsent_preferences_disabled_duration = isense_cookie_duration.cookieconsent_preferences_disabled -%}
    {%- assign cookie_cookieconsent_status_duration = isense_cookie_duration.cookieconsent_status -%}
    {%- assign cookie_no_info_duration = isense_cookie_duration.no_info -%}
    {%- assign cookie__customer_account_shop_sessions_duration = isense_cookie_duration._customer_account_shop_sessions -%}
    {%- assign cookie__secure_account_session_id_duration = isense_cookie_duration._secure_account_session_id -%}
    {%- assign cookie__shopify_country_duration = isense_cookie_duration._shopify_country -%}
    {%- assign cookie__storefront_u_duration = isense_cookie_duration._storefront_u -%}
    {%- assign cookie__cmp_a_duration = isense_cookie_duration._cmp_a -%}
    {%- assign cookie_checkout_duration = isense_cookie_duration.checkout -%}
    {%- assign cookie_customer_account_locale_duration = isense_cookie_duration.customer_account_locale -%}
    {%- assign cookie_dynamic_checkout_shown_on_cart_duration = isense_cookie_duration.dynamic_checkout_shown_on_cart -%}
    {%- assign cookie_hide_shopify_pay_for_checkout_duration = isense_cookie_duration.hide_shopify_pay_for_checkout -%}
    {%- assign cookie_shopify_pay_duration = isense_cookie_duration.shopify_pay -%}
    {%- assign cookie_shopify_pay_redirect_duration = isense_cookie_duration.shopify_pay_redirect -%}
    {%- assign cookie_shop_pay_accelerated_duration = isense_cookie_duration.shop_pay_accelerated -%}
    {%- assign cookie_keep_alive_duration = isense_cookie_duration.keep_alive -%}
    {%- assign cookie_source_name_duration = isense_cookie_duration.source_name -%}
    {%- assign cookie_master_device_id_duration = isense_cookie_duration.master_device_id -%}
    {%- assign cookie_previous_step_duration = isense_cookie_duration.previous_step -%}
    {%- assign cookie_discount_code_duration = isense_cookie_duration.discount_code -%}
    {%- assign cookie_remember_me_duration = isense_cookie_duration.remember_me -%}
    {%- assign cookie_checkout_session_lookup_duration = isense_cookie_duration.checkout_session_lookup -%}
    {%- assign cookie_checkout_prefill_duration = isense_cookie_duration.checkout_prefill -%}
    {%- assign cookie_checkout_queue_token_duration = isense_cookie_duration.checkout_queue_token -%}
    {%- assign cookie_checkout_queue_checkout_token_duration = isense_cookie_duration.checkout_queue_checkout_token -%}
    {%- assign cookie_checkout_worker_session_duration = isense_cookie_duration.checkout_worker_session -%}
    {%- assign cookie_checkout_session_token_duration = isense_cookie_duration.checkout_session_token -%}
    {%- assign cookie_cookietest_duration = isense_cookie_duration.cookietest -%}
    {%- assign cookie_order_duration = isense_cookie_duration.order -%}
    {%- assign cookie_identity-state_duration = isense_cookie_duration['identity-state'] -%}
    {%- assign cookie_card_update_verification_id_duration = isense_cookie_duration.card_update_verification_id -%}
    {%- assign cookie_customer_account_new_login_duration = isense_cookie_duration.customer_account_new_login -%}
    {%- assign cookie_customer_account_preview_duration = isense_cookie_duration.customer_account_preview -%}
    {%- assign cookie_customer_payment_method_duration = isense_cookie_duration.customer_payment_method -%}
    {%- assign cookie_customer_shop_pay_agreement_duration = isense_cookie_duration.customer_shop_pay_agreement -%}
    {%- assign cookie_pay_update_intent_id_duration = isense_cookie_duration.pay_update_intent_id -%}
    {%- assign cookie_localization_duration = isense_cookie_duration.localization -%}
    {%- assign cookie_profile_preview_token_duration = isense_cookie_duration.profile_preview_token -%}
    {%- assign cookie_login_with_shop_finalize_duration = isense_cookie_duration.login_with_shop_finalize -%}
    {%- assign cookie_preview_theme_duration = isense_cookie_duration.preview_theme -%}
    {%- assign cookie_shopify-editor-unconfirmed-settings_duration = isense_cookie_duration['shopify-editor-unconfirmed-settings'] -%}
    {%- assign cookie_wpm-test-cookie_duration = isense_cookie_duration['wpm-test-cookie'] -%}

    {%- assign cookie__ab_provider = isense_cookie_provider._ab -%}
    {%- assign cookie__orig_referrer_provider = isense_cookie_provider._orig_referrer -%}
    {%- assign cookie_identity_state_provider = isense_cookie_provider.identity_state -%}
    {%- assign cookie_identity_customer_account_number_provider = isense_cookie_provider.identity_customer_account_number -%}
    {%- assign cookie__landing_page_provider = isense_cookie_provider._landing_page -%}
    {%- assign cookie__secure_session_id_provider = isense_cookie_provider._secure_session_id -%}
    {%- assign cookie_cart_provider = isense_cookie_provider.cart -%}
    {%- assign cookie_cart_sig_provider = isense_cookie_provider.cart_sig -%}
    {%- assign cookie_cart_ts_provider = isense_cookie_provider.cart_ts -%}
    {%- assign cookie_cart_ver_provider = isense_cookie_provider.cart_ver -%}
    {%- assign cookie_cart_currency_provider = isense_cookie_provider.cart_currency -%}
    {%- assign cookie_tracked_start_checkout_provider = isense_cookie_provider.tracked_start_checkout -%}
    {%- assign cookie_storefront_digest_provider = isense_cookie_provider.storefront_digest -%}
    {%- assign cookie_checkout_token_provider = isense_cookie_provider.checkout_token -%}
    {%- assign cookie__shopify_m_provider = isense_cookie_provider._shopify_m -%}
    {%- assign cookie__shopify_tm_provider = isense_cookie_provider._shopify_tm -%}
    {%- assign cookie__shopify_tw_provider = isense_cookie_provider._shopify_tw -%}
    {%- assign cookie__tracking_consent_provider = isense_cookie_provider._tracking_consent -%}
    {%- assign cookie_secure_customer_sig_provider = isense_cookie_provider.secure_customer_sig -%}
    {%- assign cookie__shopify_y_provider = isense_cookie_provider._shopify_y -%}
    {%- assign cookie_customer_auth_provider_provider = isense_cookie_provider.customer_auth_provider -%}
    {%- assign cookie_customer_auth_session_created_at_provider = isense_cookie_provider.customer_auth_session_created_at -%}
    {%- assign cookie__y_provider = isense_cookie_provider.__y -%}
    {%- assign cookie__shopify_s_provider = isense_cookie_provider._shopify_s -%}
    {%- assign cookie__shopify_fs_provider = isense_cookie_provider._shopify_fs -%}
    {%- assign cookie__ga_provider = isense_cookie_provider._ga -%}
    {%- assign cookie__gid_provider = isense_cookie_provider._gid -%}
    {%- assign cookie__gat_provider = isense_cookie_provider._gat -%}
    {%- assign cookie__shopify_sa_t_provider = isense_cookie_provider._shopify_sa_t -%}
    {%- assign cookie__shopify_sa_p_provider = isense_cookie_provider._shopify_sa_p -%}
    {%- assign cookie_IDE_provider = isense_cookie_provider.IDE -%}
    {%- assign cookie__s_provider = isense_cookie_provider.__s -%}
    {%- assign cookie_GPS_provider = isense_cookie_provider.GPS -%}
    {%- assign cookie_PREF_provider = isense_cookie_provider.PREF -%}
    {%- assign cookie_BizoID_provider = isense_cookie_provider.BizoID -%}
    {%- assign cookie__fbp_provider = isense_cookie_provider._fbp -%}
    {%- assign cookie___adroll_provider = isense_cookie_provider.__adroll -%}
    {%- assign cookie___adroll_v4_provider = isense_cookie_provider.__adroll_v4 -%}
    {%- assign cookie___adroll_fpc_provider = isense_cookie_provider.__adroll_fpc -%}
    {%- assign cookie___ar_v4_provider = isense_cookie_provider.__ar_v4 -%}
    {%- assign cookie_cookieconsent_preferences_disabled_provider = isense_cookie_provider.cookieconsent_preferences_disabled -%}
    {%- assign cookie_cookieconsent_status_provider = isense_cookie_provider.cookieconsent_status -%}
    {%- assign cookie_no_info_provider = isense_cookie_provider.no_info -%}

    <script type="text/javascript">
      window.isense_gdpr_privacy_policy_text = "{{ privacy_policy_text | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_accept_button_text = "{{ accept_button_text | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_close_button_text = "{{ close_button_text | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_reject_button_text = "{{ reject_button_text | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_change_cookies_text = "{{ change_cookies_text | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_widget_content = "{{ widget_content | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_text = "{{ text | newline_to_br | replace: '"' , '\"' | strip_newlines }}";

      window.isense_gdpr_strict_cookies_checkbox = "{{ strict_cookies_checkbox | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_strict_cookies_text = "{{ strict_cookies_text | newline_to_br | replace: '"' , '\"' | strip_newlines }}";

      window.isense_gdpr_analytics_cookies_checkbox = "{{ analytics_cookies_checkbox | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_analytics_cookies_text = "{{ analytics_cookies_text | newline_to_br | replace: '"' , '\"' | strip_newlines }}";

      window.isense_gdpr_marketing_cookies_checkbox = "{{ marketing_cookies_checkbox | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_marketing_cookies_text = "{{ marketing_cookies_text | newline_to_br | replace: '"' , '\"' | strip_newlines }}";

      window.isense_gdpr_functionality_cookies_checkbox = "{{ functionality_cookies_checkbox | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_functionality_cookies_text = "{{ functionality_cookies_text | newline_to_br | replace: '"' , '\"' | strip_newlines }}";

      window.isense_gdpr_popup_header = "{{ popup_header | newline_to_br | replace: '"' , '\"' | strip_newlines }}";

      {% if popup_description == "empty_value" %}
      window.isense_gdpr_popup_description = "";
      {% else %}
      window.isense_gdpr_popup_description = "{{ popup_description | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      {% endif %}

      window.isense_gdpr_dismiss_button_text = "{{ dismiss_button_text | newline_to_br | replace: '"' , '\"' | strip_newlines }}";

      window.isense_gdpr_accept_selected_button_text = "{{ accept_selected_button_text | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_accept_all_button_text = "{{ accept_all_button_text | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_reject_all_button_text = "{{ reject_all_button_text | newline_to_br | replace: '"' , '\"' | strip_newlines }}";

      window.isense_gdpr_data_collection_text = "{{ data_collection_text | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_data_collection_text_cpra = "{{ data_collection_text_cpra | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_data_collection_text_vcdpa = "{{ data_collection_text_vcdpa | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_data_collection_text_us = "{{ data_collection_text_us | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_data_collection_text_appi = "{{ data_collection_text_appi | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_data_collection_text_pipeda = "{{ data_collection_text_pipeda | newline_to_br | replace: '"' , '\"' | strip_newlines }}";

      window.isense_gdpr_cookie_titles_cookie = "{{ cookie_titles_cookie | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_titles_duration = "{{ cookie_titles_duration | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_titles_description = "{{ cookie_titles_description | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_titles_provider = "{{ cookie_titles_provider | newline_to_br | replace: '"' , '\"' | strip_newlines }}";

      window.isense_gdpr_cookie__ab = "{{ cookie__ab | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie__orig_referrer = "{{ cookie__orig_referrer | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_identity_state = "{{ cookie_identity_state | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_identity_customer_account_number = "{{ cookie_identity_customer_account_number | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie__landing_page = "{{ cookie__landing_page | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie__secure_session_id = "{{ cookie__secure_session_id | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_cart = "{{ cookie_cart | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_cart_sig = "{{ cookie_cart_sig | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_cart_ts = "{{ cookie_cart_ts | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_cart_ver = "{{ cookie_cart_ver | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_cart_currency = "{{ cookie_cart_currency | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_tracked_start_checkout = "{{ cookie_tracked_start_checkout | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_storefront_digest = "{{ cookie_storefront_digest | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_checkout_token = "{{ cookie_checkout_token | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie__shopify_m = "{{ cookie__shopify_m | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie__shopify_tm = "{{ cookie__shopify_tm | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie__shopify_tw = "{{ cookie__shopify_tw | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie__tracking_consent = "{{ cookie__tracking_consent | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_secure_customer_sig = "{{ cookie_secure_customer_sig | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie__shopify_y = "{{ cookie__shopify_y | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_customer_auth_provider = "{{ cookie_customer_auth_provider | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_customer_auth_session_created_at = "{{ cookie_customer_auth_session_created_at | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie__y = "{{ cookie__y | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie__shopify_s = "{{ cookie__shopify_s | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie__shopify_fs = "{{ cookie__shopify_fs | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie__ga = "{{ cookie__ga | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie__gid = "{{ cookie__gid | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie__gat = "{{ cookie__gat | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie__shopify_sa_t = "{{ cookie__shopify_sa_t | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie__shopify_sa_p = "{{ cookie__shopify_sa_p | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_IDE = "{{ cookie_IDE | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie__s = "{{ cookie__s | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_GPS = "{{ cookie_GPS | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_PREF = "{{ cookie_PREF | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_BizoID = "{{ cookie_BizoID | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie__fbp = "{{ cookie__fbp | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie___adroll = "{{ cookie___adroll | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie___adroll_v4 = "{{ cookie___adroll_v4 | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie___adroll_fpc = "{{ cookie___adroll_fpc | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie___ar_v4 = "{{ cookie___ar_v4 | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_cookieconsent_preferences_disabled = "{{ cookie_cookieconsent_preferences_disabled | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_cookieconsent_status = "{{ cookie_cookieconsent_status | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_no_info = "{{ cookie_no_info | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie__customer_account_shop_sessions = "{{ cookie__customer_account_shop_sessions | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie__secure_account_session_id = "{{ cookie__secure_account_session_id | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie__shopify_country = "{{ cookie__shopify_country | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie__storefront_u = "{{ cookie__storefront_u | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie__cmp_a = "{{ cookie__cmp_a | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_checkout = "{{ cookie_checkout | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_customer_account_locale = "{{ cookie_customer_account_locale | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_dynamic_checkout_shown_on_cart = "{{ cookie_dynamic_checkout_shown_on_cart | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_hide_shopify_pay_for_checkout = "{{ cookie_hide_shopify_pay_for_checkout | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_shopify_pay = "{{ cookie_shopify_pay | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_shopify_pay_redirect = "{{ cookie_shopify_pay_redirect | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_shop_pay_accelerated = "{{ cookie_shop_pay_accelerated | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_keep_alive = "{{ cookie_keep_alive | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_source_name = "{{ cookie_source_name | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_master_device_id = "{{ cookie_master_device_id | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_previous_step = "{{ cookie_previous_step | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_discount_code = "{{ cookie_discount_code | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_remember_me = "{{ cookie_remember_me | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_checkout_session_lookup = "{{ cookie_checkout_session_lookup | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_checkout_prefill = "{{ cookie_checkout_prefill | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_checkout_queue_token = "{{ cookie_checkout_queue_token | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_checkout_queue_checkout_token = "{{ cookie_checkout_queue_checkout_token | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_checkout_worker_session = "{{ cookie_checkout_worker_session | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_checkout_session_token = "{{ cookie_checkout_session_token | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_cookietest = "{{ cookie_cookietest | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_order = "{{ cookie_order | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window["isense_gdpr_cookie_identity-state"] = "{{ cookie_identity-state | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_card_update_verification_id = "{{ cookie_card_update_verification_id | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_customer_account_new_login = "{{ cookie_customer_account_new_login | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_customer_account_preview = "{{ cookie_customer_account_preview | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_customer_payment_method = "{{ cookie_customer_payment_method | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_customer_shop_pay_agreement = "{{ cookie_customer_shop_pay_agreement | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_pay_update_intent_id = "{{ cookie_pay_update_intent_id | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_localization = "{{ cookie_localization | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_profile_preview_token = "{{ cookie_profile_preview_token | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_login_with_shop_finalize = "{{ cookie_login_with_shop_finalize | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_preview_theme = "{{ cookie_preview_theme | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window["isense_gdpr_cookie_shopify-editor-unconfirmed-settings"] = "{{ cookie_shopify-editor-unconfirmed-settings | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window["isense_gdpr_cookie_wpm-test-cookie"] = "{{ cookie_wpm-test-cookie | newline_to_br | replace: '"' , '\"' | strip_newlines }}";

      window.isense_gdpr_cookie__ab_duration = "{{ cookie__ab_duration | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie__orig_referrer_duration = "{{ cookie__orig_referrer_duration | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_identity_state_duration = "{{ cookie_identity_state_duration | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_identity_customer_account_number_duration = "{{ cookie_identity_customer_account_number_duration | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie__landing_page_duration = "{{ cookie__landing_page_duration | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie__secure_session_id_duration = "{{ cookie__secure_session_id_duration | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_cart_duration = "{{ cookie_cart_duration | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_cart_sig_duration = "{{ cookie_cart_sig_duration | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_cart_ts_duration = "{{ cookie_cart_ts_duration | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_cart_ver_duration = "{{ cookie_cart_ver_duration | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_cart_currency_duration = "{{ cookie_cart_currency_duration | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_tracked_start_checkout_duration = "{{ cookie_tracked_start_checkout_duration | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_storefront_digest_duration = "{{ cookie_storefront_digest_duration | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_checkout_token_duration = "{{ cookie_checkout_token_duration | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie__shopify_m_duration = "{{ cookie__shopify_m_duration | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie__shopify_tm_duration = "{{ cookie__shopify_tm_duration | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie__shopify_tw_duration = "{{ cookie__shopify_tw_duration | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie__tracking_consent_duration = "{{ cookie__tracking_consent_duration | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_secure_customer_sig_duration = "{{ cookie_secure_customer_sig_duration | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie__shopify_y_duration = "{{ cookie__shopify_y_duration | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_customer_auth_provider_duration = "{{ cookie_customer_auth_provider_duration | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_customer_auth_session_created_at_duration = "{{ cookie_customer_auth_session_created_at_duration | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie__y_duration = "{{ cookie__y_duration | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie__shopify_s_duration = "{{ cookie__shopify_s_duration | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie__shopify_fs_duration = "{{ cookie__shopify_fs_duration | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie__ga_duration = "{{ cookie__ga_duration | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie__gid_duration = "{{ cookie__gid_duration | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie__gat_duration = "{{ cookie__gat_duration | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie__shopify_sa_t_duration = "{{ cookie__shopify_sa_t_duration | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie__shopify_sa_p_duration = "{{ cookie__shopify_sa_p_duration | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_IDE_duration = "{{ cookie_IDE_duration | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie__s_duration = "{{ cookie__s_duration | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_GPS_duration = "{{ cookie_GPS_duration | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_PREF_duration = "{{ cookie_PREF_duration | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_BizoID_duration = "{{ cookie_BizoID_duration | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie__fbp_duration = "{{ cookie__fbp_duration | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie___adroll_duration = "{{ cookie___adroll_duration | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie___adroll_v4_duration = "{{ cookie___adroll_v4_duration | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie___adroll_fpc_duration = "{{ cookie___adroll_fpc_duration | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie___ar_v4_duration = "{{ cookie___ar_v4_duration | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_cookieconsent_preferences_disabled_duration = "{{ cookie_cookieconsent_preferences_disabled_duration | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_cookieconsent_status_duration = "{{ cookie_cookieconsent_status_duration | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_no_info_duration = "{{ cookie_no_info_duration | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie__customer_account_shop_sessions_duration = "{{ cookie__customer_account_shop_sessions_duration | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie__secure_account_session_id_duration = "{{ cookie__secure_account_session_id_duration | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie__shopify_country_duration = "{{ cookie__shopify_country_duration | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie__storefront_u_duration = "{{ cookie__storefront_u_duration | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie__cmp_a_duration = "{{ cookie__cmp_a_duration | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_checkout_duration = "{{ cookie_checkout_duration | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_customer_account_locale_duration = "{{ cookie_customer_account_locale_duration | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_dynamic_checkout_shown_on_cart_duration = "{{ cookie_dynamic_checkout_shown_on_cart_duration | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_hide_shopify_pay_for_checkout_duration = "{{ cookie_hide_shopify_pay_for_checkout_duration | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_shopify_pay_duration = "{{ cookie_shopify_pay_duration | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_shopify_pay_redirect_duration = "{{ cookie_shopify_pay_redirect_duration | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_shop_pay_accelerated_duration = "{{ cookie_shop_pay_accelerated_duration | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_keep_alive_duration = "{{ cookie_keep_alive_duration | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_source_name_duration = "{{ cookie_source_name_duration | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_master_device_id_duration = "{{ cookie_master_device_id_duration | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_previous_step_duration = "{{ cookie_previous_step_duration | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_discount_code_duration = "{{ cookie_discount_code_duration | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_remember_me_duration = "{{ cookie_remember_me_duration | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_checkout_session_lookup_duration = "{{ cookie_checkout_session_lookup_duration | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_checkout_prefill_duration = "{{ cookie_checkout_prefill_duration | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_checkout_queue_token_duration = "{{ cookie_checkout_queue_token_duration | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_checkout_queue_checkout_token_duration = "{{ cookie_checkout_queue_checkout_token_duration | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_checkout_worker_session_duration = "{{ cookie_checkout_worker_session_duration | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_checkout_session_token_duration = "{{ cookie_checkout_session_token_duration | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_cookietest_duration = "{{ cookie_cookietest_duration | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_order_duration = "{{ cookie_order_duration | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window["isense_gdpr_cookie_identity-state_duration"] = "{{ cookie_identity-state_duration | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_card_update_verification_id_duration = "{{ cookie_card_update_verification_id_duration | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_customer_account_new_login_duration = "{{ cookie_customer_account_new_login_duration | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_customer_account_preview_duration = "{{ cookie_customer_account_preview_duration | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_customer_payment_method_duration = "{{ cookie_customer_payment_method_duration | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_customer_shop_pay_agreement_duration = "{{ cookie_customer_shop_pay_agreement_duration | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_pay_update_intent_id_duration = "{{ cookie_pay_update_intent_id_duration | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_localization_duration = "{{ cookie_localization_duration | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_profile_preview_token_duration = "{{ cookie_profile_preview_token_duration | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_login_with_shop_finalize_duration = "{{ cookie_login_with_shop_finalize_duration | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_preview_theme_duration = "{{ cookie_preview_theme_duration | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window["isense_gdpr_cookie_shopify-editor-unconfirmed-settings_duration"] = "{{ cookie_shopify-editor-unconfirmed-settings_duration | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window["isense_gdpr_cookie_wpm-test-cookie_duration"] = "{{ cookie_wpm-test-cookie_duration | newline_to_br | replace: '"' , '\"' | strip_newlines }}";

      window.isense_gdpr_cookie__ab_provider = "{{ cookie__ab_provider | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie__orig_referrer_provider = "{{ cookie__orig_referrer_provider | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_identity_state_provider = "{{ cookie_identity_state_provider | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_identity_customer_account_number_provider = "{{ cookie_identity_customer_account_number_provider | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie__landing_page_provider = "{{ cookie__landing_page_provider | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie__secure_session_id_provider = "{{ cookie__secure_session_id_provider | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_cart_provider = "{{ cookie_cart_provider | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_cart_sig_provider = "{{ cookie_cart_sig_provider | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_cart_ts_provider = "{{ cookie_cart_ts_provider | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_cart_ver_provider = "{{ cookie_cart_ver_provider | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_cart_currency_provider = "{{ cookie_cart_currency_provider | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_tracked_start_checkout_provider = "{{ cookie_tracked_start_checkout_provider | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_storefront_digest_provider = "{{ cookie_storefront_digest_provider | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_checkout_token_provider = "{{ cookie_checkout_token_provider | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie__shopify_m_provider = "{{ cookie__shopify_m_provider | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie__shopify_tm_provider = "{{ cookie__shopify_tm_provider | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie__shopify_tw_provider = "{{ cookie__shopify_tw_provider | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie__tracking_consent_provider = "{{ cookie__tracking_consent_provider | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_secure_customer_sig_provider = "{{ cookie_secure_customer_sig_provider | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie__shopify_y_provider = "{{ cookie__shopify_y_provider | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_customer_auth_provider_provider = "{{ cookie_customer_auth_provider_provider | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_customer_auth_session_created_at_provider = "{{ cookie_customer_auth_session_created_at_provider | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie__y_provider = "{{ cookie__y_provider | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie__shopify_s_provider = "{{ cookie__shopify_s_provider | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie__shopify_fs_provider = "{{ cookie__shopify_fs_provider | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie__ga_provider = "{{ cookie__ga_provider | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie__gid_provider = "{{ cookie__gid_provider | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie__gat_provider = "{{ cookie__gat_provider | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie__shopify_sa_t_provider = "{{ cookie__shopify_sa_t_provider | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie__shopify_sa_p_provider = "{{ cookie__shopify_sa_p_provider | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_IDE_provider = "{{ cookie_IDE_provider | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie__s_provider = "{{ cookie__s_provider | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_GPS_provider = "{{ cookie_GPS_provider | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_PREF_provider = "{{ cookie_PREF_provider | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_BizoID_provider = "{{ cookie_BizoID_provider | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie__fbp_provider = "{{ cookie__fbp_provider | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie___adroll_provider = "{{ cookie___adroll_provider | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie___adroll_v4_provider = "{{ cookie___adroll_v4_provider | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie___adroll_fpc_provider = "{{ cookie___adroll_fpc_provider | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie___ar_v4_provider = "{{ cookie___ar_v4_provider | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_cookieconsent_preferences_disabled_provider = "{{ cookie_cookieconsent_preferences_disabled_provider | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_cookieconsent_status_provider = "{{ cookie_cookieconsent_status_provider | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
      window.isense_gdpr_cookie_no_info_provider = "{{ cookie_no_info_provider | newline_to_br | replace: '"' , '\"' | strip_newlines }}";
    </script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="{{ settings.color_button }}">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
    <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    <link rel="dns-prefetch" href="https://productreviews.shopifycdn.com">
    <link rel="dns-prefetch" href="https://ajax.googleapis.com">
    <link rel="dns-prefetch" href="https://maps.googleapis.com">
    <link rel="dns-prefetch" href="https://maps.gstatic.com">

    {%- if settings.favicon != blank -%}
      <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
    {%- endif -%}

    {%- render 'seo-title' -%}

    {%- if page_description -%}
      <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}

    {%- render 'social-meta-tags' -%}

    {%- render 'font-face' -%}
    {{ 'theme.css' | asset_url | stylesheet_tag: preload: true }}
    {%- render 'css-variables' -%}

    <!-- [renew2024 add -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap" rel="stylesheet">

    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
      rel="stylesheet"
    >
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" rel="stylesheet">
    {{ 'style.css' | asset_url | stylesheet_tag: preload: true }}

    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js" defer="defer"></script>
    <script src="{{ 'jquery.waypoints.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'jquery.tile.min.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'script.js' | asset_url }}" defer="defer"></script>

    <!-- renew2024 add] -->

    <script>
      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');

      window.theme = window.theme || {};
      theme.routes = {
        home: "{{ routes.root_url }}",
        cart: "{{ routes.cart_url | append: '.js' }}",
        cartPage: "{{ routes.cart_url }}",
        cartAdd: "{{ routes.cart_add_url | append: '.js' }}",
        cartChange: "{{ routes.cart_change_url | append: '.js' }}",
        search: "{{ routes.search_url }}",
        predictiveSearch: "{{ routes.predictive_search_url }}"
      };
      theme.strings = {
        soldOut: {{ 'products.product.sold_out' | t | json }},
        unavailable: {{ 'products.product.unavailable' | t | json }},
        inStockLabel: {{ 'products.product.in_stock_label' | t | json }},
        oneStockLabel: {{ 'products.product.stock_label.one' | t: count: '[count]' | json }},
        otherStockLabel: {{ 'products.product.stock_label.other' | t: count: '[count]' | json }},
        willNotShipUntil: {{ 'products.product.will_not_ship_until' | t: date: '[date]' | json }},
        willBeInStockAfter: {{ 'products.product.will_be_in_stock_after' | t: date: '[date]' | json }},
        waitingForStock: {{ 'products.product.waiting_for_stock' | t | json }},
        savePrice: {{ 'products.general.save_html' | t: saved_amount: '[saved_amount]' | json }},
        cartEmpty: {{ 'cart.general.empty' | t | json }},
        cartTermsConfirmation: {{ 'cart.general.terms_confirm' | t | json }},
        searchCollections: {{ 'general.search.collections' | t | json }},
        searchPages: {{ 'general.search.pages' | t | json }},
        searchArticles: {{ 'general.search.articles' | t | json }},
        productFrom: {{ 'products.general.from_text_html' | t: price: '' | json }},
        maxQuantity: {{ 'cart.general.max_quantity' | t: quantity: '[quantity]', title: '[title]' | json }}
      };
      theme.settings = {
        cartType: {{ settings.cart_type | json }},
        isCustomerTemplate: {% if request.page_type contains 'customers/' %}true{% else %}false{% endif %},
        moneyFormat: {{ shop.money_format | json }},
        saveType: {{ settings.product_save_type | json }},
        productImageSize: {{ settings.product_grid_image_size | json }},
        productImageCover: {{ settings.product_grid_image_fill }},
        predictiveSearch: {{ settings.predictive_search_enabled }},
        predictiveSearchType: {{ settings.search_type | json }},
        predictiveSearchVendor: {{ settings.predictive_search_show_vendor | json }},
        predictiveSearchPrice: {{ settings.predictive_search_show_price | json }},
        quickView: {{ settings.quick_shop_enable }},
        themeName: 'Impulse',
        themeVersion: "7.4.0"
      };
    </script>

    {{ content_for_header }}

    <script src="{{ 'vendor-scripts-v11.js' | asset_url | split: '?' | first }}" defer="defer"></script>

    {%- if shop.enabled_currencies.size > 1 -%}
      <link rel="stylesheet" href="{{ 'country-flags.css' | asset_url | split: '?' | first }}">
    {%- endif -%}

    <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>

    {%- if request.page_type contains 'customers/' -%}
      <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>
    {%- endif -%}

    {% if request.design_mode %}
      <script src="https://api.archetypethemes.co/design-mode.js" defer="defer"></script>
    {% endif %}
  </head>

  <body
    class="template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}{% if request.path == '/challenge' %} template-challange{% endif %}"
    data-center-text="{{ settings.type_body_align_text }}"
    data-button_style="{{ settings.button_style }}"
    data-type_header_capitalize="{{ settings.type_header_capitalize }}"
    data-type_headers_align_text="{{ settings.type_headers_align_text }}"
    data-type_product_capitalize="{{ settings.type_product_capitalize }}"
    data-swatch_style="{{ settings.swatch_style }}"
    {% if settings.disable_animations %}
      data-disable-animations="true"
    {% endif %}
  >
    <a class="in-page-link visually-hidden skip-link" href="#MainContent">
      {{- 'general.accessibility.skip_to_content' | t -}}
    </a>

    <div id="PageContainer" class="page-container">
      <div class="transition-body">
        {%- sections 'header-group' -%}
        {%- sections 'popup-group' -%}

        <main class="main-content" id="MainContent">
          {{ content_for_layout }}
        </main>

        {%- sections 'footer-group' -%}
      </div>
    </div>

    {%- liquid
      render 'video-modal'
      render 'photoswipe-template'
      render 'tool-tip'
    -%}

    {% comment %} Image markup used when building product grid item via JS {% endcomment %}
    <template id="naturalImageMarkup">
      <div class="image-wrap" style="height: 0;">
        <image-element data-aos="image-fade-in" data-aos-offset="150">
          <img class="grid-product__image image-element" width height src srcset loading="lazy" alt>
        </image-element>
      </div>
    </template>
    <template id="fixedRatioImageMarkup">
      <div class="grid__image-ratio">
        <image-element data-aos="image-fade-in" data-aos-offset="150">
          <img class="image-element" width height src srcset loading="lazy" alt>
        </image-element>
      </div>
    </template>
  </body>
</html>
