<div class="mga-page-about">
  {%- assign locale = localization.language.iso_code -%}

  <section class="mga-page-about-1">
    <div class="page-width">
      <h1 class="mga-page-about__ttl">
        {%- case locale -%}
          {%- when 'en' -%}
            Wearable Art Stole
          {%- when 'ja' -%}
            着るアートストールとは
          {%- else -%}
        {%- endcase -%}
      </h1>
      <section class="mga-page-about-1-1">
        <div class="mga-page-about-1-1-layout">
          <div class="mga-page-about-1-1-content">
            <p class="mga-page-about-1-1-p">
              {%- case locale -%}
                {%- when 'en' -%}
                  Michail Gkinis is a Greek designer who studied fashion in London. His fascination with Japanese
                  textiles led him to work in Tokyo, where he developed his unique, original creations. Gkinis's designs
                  are timeless, transcending traditional boundaries and bringing fresh vitality to contemporary fashion.
                {%- when 'ja' -%}
                  <!-- prettier-ignore-start -->
                  ロンドンでファッションを学んだギリシャ出身のデザイナーであるミハイルギニスは、<br class="pc">
                  日本のテキスタイルに魅了され、東京で活動。彼の作品は、独創性に富んだアイデアで、<br class="pc">
                  時代を超え、既存の枠を超えた現代の新たな服としての息吹を吹き込んでいる。
                  <!-- prettier-ignore-end -->

                {%- else -%}
              {%- endcase -%}
            </p>
            <p class="mga-page-about-1-1-p">
              {%- case locale -%}
                {%- when 'en' -%}
                  His signature piece, the "Wearable Art Stole," is designed to be inclusive, accommodating various body
                  shapes, genders, races, and ages. The emphasis is on embracing diversity, enhancing the individuality
                  and creativity of the wearer, and highlighting their unique charm.
                {%- when 'ja' -%}
                  その代表作である「着るアートストール」は、<br class="pc">
                  様々な体型、性別、人種、年齢に合うよう、包括的にデザインされ、<br class="pc">
                  多様性を受け入れ、着る人の個性と創造性を高め、個々の魅力を引き出すことを重視している。
                {%- else -%}
              {%- endcase -%}
            </p>
          </div>
          <figure class="mga-page-about-1-1-fig"><img src="{{ 'about-1-photo1.jpg' | asset_url }}" alt=""></figure>
        </div>
      </section>
      <section class="mga-page-about-1-2">
        <div class="mga-page-about-1-2-layout">
          <div class="mga-page-about-1-2-content">
            <h2 class="mga-page-about__ttl">
              {%- case locale -%}
                {%- when 'en' -%}
                  Michail Gkinis Aoyama's <br>
                  Design Philosophy.
                {%- when 'ja' -%}
                  ミハイルギニスアオヤマの<br>
                  デザインの特徴
                {%- else -%}
              {%- endcase -%}
            </h2>
            <ol class="mga-page-about-1-2-list">
              {%- case locale -%}
                {%- when 'en' -%}
                  <li>
                    Cultural Fusion**: Inspired by ancient Greek clothing and Japanese kimonos, MGA creates a harmonious
                    blend of Eastern and Western aesthetics.
                  </li>
                  <li>
                    Combination of Functionality and Artistry**: MGA’s work, exemplified by the "Wearable Art Stole,"
                    merges practicality with beauty.
                  </li>
                  <li>
                    Versatile Design**: MGA’s work features zippers and removable panels allowing for a wide range of
                    expression within a single garment.
                  </li>
                  <li>
                    Sustainability**: MGA’s multifunctional garments can be compactly stored and are versatile for
                    various occasions, particularly travel. MGA is committed to zero-waste, utilizing materials to their
                    fullest potential through art and craftsmanship.
                  </li>
                  <li>
                    Respect for Craftsmanship**: MGA’s designs combine traditional Japanese techniques with contemporary
                    design, highlighting the importance of skilled craftsmanship.
                  </li>
                  <li>
                    A Global Perspective**: MGA’s universal designs transcend cultures and ages, making them accessible
                    to people worldwide.
                  </li>
                {%- when 'ja' -%}
                  <li>文化の融合: 古代ギリシャの服と日本の着物からインスピレーションを得た、東西の美学の調和</li>
                  <li>機能性と芸術性の両立: 「着るアートストール」に代表される、実用性と美しさを兼ね備えたデザイン</li>
                  <li>
                    変幻自在な自由なデザイン:
                    ジップや取り外し可能なパネルを用いて、1つのアイテムで多様な表現を可能にする
                  </li>
                  <li>
                    持続可能性: コンパクトに収納でき、様々なシーン（特に旅行）で活用できる多機能な服の提案<br>
                    アートの力で素材を最後まで使いきるゼロウエイスト
                  </li>
                  <li>職人技の尊重: 日本の伝統的な技術と現代的なデザインの融合</li>
                  <li>グローバルな視点: 世界中の人々のための、文化や年齢を超えた普遍的なデザイン</li>
                {%- else -%}
              {%- endcase -%}
            </ol>
            <figure class="mga-page-about-1-2-fig sp"><img src="{{ 'about-1-photo2.jpg' | asset_url }}" alt=""></figure>
            <h2 class="mga-page-about__ttl">
              {%- case locale -%}
                {%- when 'en' -%}
                  Love and Commitment to Japanese Materials.
                {%- when 'ja' -%}
                  日本素材への愛とこだわり
                {%- else -%}
              {%- endcase -%}
            </h2>
            {%- case locale -%}
              {%- when 'en' -%}
                <p class="mga-page-about-1-2-p">
                  Michail Gkinis Aoyama's brand uses world-class, carefully selected Japanese materials such as cotton,
                  silk, wool, and other natural fibers produced by artisans on vintage and contemporary looms. The brand
                  also incorporates high-tech knit materials made from natural fibers, premium man-made leather like
                  Ultrasuede, and Japanese pigskin leather from Tokyo. A hallmark of MGA's designs is the unique
                  technique of combining these diverse materials, creating "wearable art" with a distinct global
                  perspective. MGA’s designs have garnered high acclaim, including the DFA Award.
                </p>
              {%- when 'ja' -%}
                <p class="mga-page-about-1-2-p">
                  コットン、シルク、ウールなど、ウィンテージ織機の職人による自然素材や<br class="pc">
                  切りっぱなしができる自然素材のハイテクニット素材、高品質な人工皮革、東京産ピッグスキンなど、<br>
                  世界に誇る厳選された日本素材を使用している。<br class="pc">
                  また、それらの異素材を組み合わせたユニークな技法もMGAの特徴である。
                </p>
                <p class="mga-page-about-1-2-p">
                  これらの要素を通じてミハイルギニスアオヤマは独自の世界観を持つ「着るアート」を創造する。<br class="pc">
                  そのデザインは高く評価され、DFAアワードを受賞している。
                </p>
              {%- else -%}
            {%- endcase -%}
          </div>
          <figure class="mga-page-about-1-2-fig pc"><img src="{{ 'about-1-photo2.jpg' | asset_url }}" alt=""></figure>
        </div>
      </section>
      <section class="mga-page-about-1-3">
        <div class="mga-page-about-youtube-wrap">
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/AFKOnFfrCfc?si=FQyOoz2GaXhSdBwR"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          ></iframe>
        </div>
      </section>
    </div>
  </section>
  <section class="mga-page-about-2">
    <div class="page-width">
      <div class="mga-page-about-2-inner">
        <div class="mga-page-about-2-content">
          <h2 class="mga-page-about-2-ttl-1">DESIGNER</h2>
          <h3 class="mga-page-about-2-ttl-2">
            <span class="en">MICHAIL GKINIS</span>
            {%- if locale == 'ja' -%}
              <span class="jp">ミハイル ギニス</span>
            {%- endif -%}
          </h3>
          <h2 class="mga-page-about-2-ttl-1">PRODUCER</h2>
          <h3 class="mga-page-about-2-ttl-2">
            <span class="en">YUKO GKINIS AOYAMA</span>
            {%- if locale == 'ja' -%}
              <span class="jp">ギニス青山祐子</span>
            {%- endif -%}
          </h3>
          <p class="mga-page-about-2-p">
            {%- case locale -%}
              {%- when 'en' -%}
                Michail Gkinis Aoyama: Tokyo's Fusion of Heritage and Innovation. Rooted in the vibrant heart of Tokyo,
                the Michail Gkinis Aoyama brand embodies the unique fusion of its creators' backgrounds. Michail, born
                in Greece and educated in the art of fashion design in London, joined forces with Yuko, a native of
                Japan with a deep connection to her homeland. Together, they breathe new life into Japan's timeless
                craftsmanship, blending ancient traditions with cutting-edge technology, to deliver a fresh perspective
                and a unique sense of style.
              {%- when 'ja' -%}
                ミハイル ギニス
                アオヤマは、ギリシャで⽣まれ、ロンドンで学び、東京を拠点に活躍するブランド。⽇本古来の卓越したクラフトマンシップを、独特の視点とセンスで再解釈し、テクノロジーを掛け合わせることで、新しい価値を提供する。
              {%- else -%}
            {%- endcase -%}
          </p>
        </div>
        <figure class="mga-page-about-2-fig"><img src="{{ 'about-2-photo1.jpg' | asset_url }}" alt=""></figure>
      </div>
    </div>
  </section>
  <section id="service" class="mga-page-about-3">
    <h2 class="mga-page-about-3-ttl">SERVICE</h2>
    <div class="page-width mga-page-about-3-layout">
      <section class="mga-page-about-3-sec mga-page-about-3-1">
        <div class="mga-page-about-3-1-layout">
          <div class="mga-page-about-3-1-content">
            <h3 class="mga-page-about-3-ttl-2">
              <span class="en">Semi order</span>
              {%- if locale == 'ja' -%}
                <span class="jp">セミオーダー</span>
              {%- endif -%}
            </h3>
            <p class="mga-page-about-3-1-p">
              {%- case locale -%}
                {%- when 'en' -%}
                  Discover a unique piece, tailor-made just for you, through the collaborative expertise of our
                  designer. We provide creative solutions for all clothing types, catering to both plus-size and petite
                  individuals. Kimono enthusiasts are welcome.
                {%- when 'ja' -%}
                  デザイナーとアトリエで創る、あなただけの特別な1枚。<br>
                  プラスサイズの人もスモールサイズの人もあらゆる着るをデザインで解決します。着物もOKです。
                {%- else -%}
              {%- endcase -%}
            </p>
          </div>
          <figure class="mga-page-about-3-1-fig"><img src="{{ 'about-3-photo1.jpg' | asset_url }}" alt=""></figure>
        </div>
        <ol class="mga-page-about-3-1-step">
          <li class="mga-page-about-3-1-step-item">
            <h4 class="mga-page-about-3-1-step-ttl">1st</h4>
            <h5 class="mga-page-about-3-1-step-ttl-2">
              {%- case locale -%}
                {%- when 'en' -%}
                  Reservation<br>
                  （TEL・WEB）
                {%- when 'ja' -%}
                  ご来店予約（電話・WEB）
                {%- else -%}
              {%- endcase -%}
            </h5>
            <p class="mga-page-about-3-1-step-p">
              {%- case locale -%}
                {%- when 'en' -%}
                  To ensure we offer you the best experience, we kindly request that you make a reservation before
                  visiting our atelier.<br>
                  You can easily secure your spot by specifying your preferred date and time through the form below or
                  by giving us a call at 0368098540.<br>
                  We'll promptly confirm your reservation and look forward to creating something truly special with you.
                {%- when 'ja' -%}
                  セミオーダーをご希望のお客様はご予約の上ご来店をお願いいたします。下記フォームかお電話0368098540でご希望日時をご指定ください。折り返し確認のご連絡させていただきます。
                {%- else -%}
              {%- endcase -%}
            </p>
            <nav class="mga-page-about-nav--center"><a href="" class="c-btn-round-black-small">RESERVATION</a></nav>
          </li>
          <li class="mga-page-about-3-1-step-item">
            <h4 class="mga-page-about-3-1-step-ttl">2nd</h4>
            <h5 class="mga-page-about-3-1-step-ttl-2">
              {%- case locale -%}
                {%- when 'en' -%}
                  Visit & Fitting Experience
                {%- when 'ja' -%}
                  ご来店＆フィッティング
                {%- else -%}
              {%- endcase -%}
            </h5>
            <p class="mga-page-about-3-1-step-p">
              {%- case locale -%}
                {%- when 'en' -%}
                  Engage in a direct dialogue with our designer as you embark on a unique fashion journey.<br>
                  Step into our world, where you can try on a sample piece and collaborate to select the perfect design,
                  color, and pattern to match your unique style.<br>
                  With your input, we'll craft a piece that's exclusively yours. Expect to spend approximately 90
                  minutes to curate the perfect ensemble tailored to your taste.
                {%- when 'ja' -%}
                  デザイナーと直接コミュニケーション。サンプルをご試着いただきデザインや色、柄を選んであなた流にカスタマイズ。あなただけの1枚を創ります。<br>
                  所要時間約90分
                {%- else -%}
              {%- endcase -%}
            </p>
          </li>
          <li class="mga-page-about-3-1-step-item">
            <h4 class="mga-page-about-3-1-step-ttl">3rd</h4>
            <h5 class="mga-page-about-3-1-step-ttl-2">
              {%- case locale -%}
                {%- when 'en' -%}
                  Crafted with Precision
                {%- when 'ja' -%}
                  縫製
                {%- else -%}
              {%- endcase -%}
            </h5>
            <p class="mga-page-about-3-1-step-p">
              {%- case locale -%}
                {%- when 'en' -%}
                  Our pieces are meticulously sewn by skilled artisans in Japan, ensuring the highest quality and
                  attention to detail. <br>
                  Depending on the complexity and circumstances, please allow for a crafting period of approximately 3
                  weeks to 3 months.
                {%- when 'ja' -%}
                  日本国内の職人による縫製。状況により、約3週間～3か月のお時間をいただいております。
                {%- else -%}
              {%- endcase -%}
            </p>
          </li>
          <li class="mga-page-about-3-1-step-item">
            <h4 class="mga-page-about-3-1-step-ttl">4th</h4>
            <h5 class="mga-page-about-3-1-step-ttl-2">
              {%- case locale -%}
                {%- when 'en' -%}
                  Finishing Touches and Handover
                {%- when 'ja' -%}
                  完成 お渡し
                {%- else -%}
              {%- endcase -%}
            </h5>
            <p class="mga-page-about-3-1-step-p">
              {%- case locale -%}
                {%- when 'en' -%}
                  Once your masterpiece is complete, you can collect it at our atelier shop, where we'll be thrilled to
                  see you.<br>
                  If you prefer, we're also delighted to offer shipping services (shipping fee not included) to ensure
                  your creation reaches you wherever you are.
                {%- when 'ja' -%}
                  アトリエショップでのお渡しとなります。ご希望の方には発送も承ります。（送料別途）
                {%- else -%}
              {%- endcase -%}
            </p>
          </li>
        </ol>
        <nav class="mga-page-about-nav--right">
          <a href="../pages/contact" class="c-btn-round-white">CONTACT</a
          ><a href="../collections/all" class="c-btn-round-white">PRODUCTS</a>
        </nav>
      </section>
      <section class="mga-page-about-3-sec mga-page-about-3-2">
        <figure class="mga-page-about-3-2-fig"><img src="{{ 'about-3-photo2.jpg' | asset_url }}" alt=""></figure>
        <h3 class="mga-page-about-3-ttl-2">
          <span class="en">Online visitting / consultation</span>
          {%- if locale == 'ja' -%}
            <span class="jp">オンライン訪問／相談</span>
          {%- endif -%}
        </h3>
        <p class="mga-page-about-3-p">
          {%- case locale -%}
            {%- when 'en' -%}
              For those unable to physically visit our store due to distance or time constraints, we offer the
              opportunity to connect with our atelier online. We aim to bridge the gap and bring you into our space,
              sharing valuable moments as if you were right here with us.<br>
              <br>
              To schedule an online visit or consultation, please fill out the reservation form below. Our team will be
              in touch with you shortly to arrange a convenient virtual meeting.
            {%- when 'ja' -%}
              遠方やお時間のご都合でご来店が難しい方に、アトリエとお客様をオンラインでおつなぎします。まるでご来店したかのような時間と空間を共有いたいます。<br>
              予約フォームよりお申込みください。折り返しご連絡させていただきます。
            {%- else -%}
          {%- endcase -%}
        </p>
        <nav class="mga-page-about-nav--right"><a href="" class="c-btn-round-white">RESERVATION</a></nav>
      </section>
      <section class="mga-page-about-3-sec mga-page-about-3-2">
        <figure class="mga-page-about-3-2-fig"><img src="{{ 'about-3-photo3.jpg' | asset_url }}" alt=""></figure>
        <h3 class="mga-page-about-3-ttl-2">
          <span class="en">Maintenance</span>
          {%- if locale == 'ja' -%}
            <span class="jp">メンテナンス</span>
          {%- endif -%}
        </h3>
        <p class="mga-page-about-3-p">
          {%- case locale -%}
            {%- when 'en' -%}
              Wearing Japanese fabrics, crafted with dedication and precision, calls for the same level of care and
              attention.<br>
              It's a philosophy we uphold dearly. At Michail Gkinis Aoyama, we offer maintenance services for our items,
              ranging from minor repairs to restoring the finest details.<br>
              <br>
              To get started, kindly reach out to us with the specifics via our CONTACT page, and we'll be in touch
              promptly to discuss how we can assist in preserving your cherished pieces for years to come.
            {%- when 'ja' -%}
              手間と時間をかけ作られた日本の生地を丁寧に大切に長く着る。わたしたちのモットーでもあります。コーニス穴ひとつの修正からミハイルギニスアオヤマのアイテムのメンテナンスをお受けしております。まずはCONTACTより内容をご連絡ください。折り返しご連絡させていただきます。
            {%- else -%}
          {%- endcase -%}
        </p>
        <nav class="mga-page-about-nav--right">
          <a href="../pages/contact" class="c-btn-round-white">CONTACT</a>
        </nav>
      </section>
    </div>
  </section>
</div>

{% schema %}
{
  "name": "MGA PAGE ABOUT",
  "class": "page-section",
  "settings": [],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.rich-text.blocks.heading.name",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.rich-text.blocks.heading.settings.title.label",
          "default": "Rich text"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.rich-text.blocks.text.name",
      "settings": [
        {
          "id": "text",
          "type": "html",
          "label": "HTML",
          "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
        }
      ]
    },
    {
      "type": "button",
      "name": "t:sections.rich-text.blocks.button.name",
      "settings": [
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.rich-text.blocks.button.settings.link.label"
        },
        {
          "type": "text",
          "id": "link_text",
          "label": "t:sections.rich-text.blocks.button.settings.link_text.label",
          "default": "Button"
        }
      ]
    },
    {
      "type": "page",
      "name": "t:sections.rich-text.blocks.page.name",
      "settings": [
        {
          "id": "page_text",
          "type": "page",
          "label": "t:sections.rich-text.blocks.page.settings.page_text.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "MGA PAGE ABOUT",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": ["custom.popups"]
  }
}
{% endschema %}
